<h1>Log In</h1>
<!-- 
<form method="POST" action="/log_in">
  <label>
    Email
    <input type="email" name="email" />
  </label>

  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Log In</button>
</form>
 -->

<% if flash[:alert] %>
  <p style="color: red"><%= flash[:alert] %></p>
<% end %>

<%= form_tag do %>
  <div>
    <%= label_tag :email %>
    <%= email_field_tag :email %>
  </div>
  
  <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  
  <%= button_tag "Log In" %>
<% end %>

<p>
	Don't have an account? 
	<%= link_to "Sign Up", sign_up_path %>
</p>
