<% content_for :head do %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(
          <%= raw(([['Day', 'Orders', 'Revenue']] + @days).to_json)%>);

        var options = {
          title: 'Revenue By Day'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
<% end %>

<h2>Orders</h2>
<!-- just to see what's getting sent here - what's wrong? -->
<div id="chart_div" style="width: 900px; height: 500px;"></div>
          <% @days.each do |ele| %>
            ,<%= ele.to_json.gsub('"', '') %>
          <% end %>          
          <%= raw(([['Day', 'Orders', 'Revenue']] + @days).to_json)%>
<table class="table">
  <tr>
    <th>Day</th>
    <th>Orders</th>
    <th>Revenue</th>
  </tr>

<% @days.each do |day, count, revenue| %>
  <tr>
    <td><%= day %></td>
    <td><%= count %></td>
    <td><%= number_to_currency revenue %></td>
  </tr>
<% end %>
</table>

