<% if @customer.errors.present? %>
  <ul>
    <% @customer.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @customer, url: sign_up_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %> 
  </div>

  <%= f.submit 'Sign Up' %>
<% end %>

<p>
	Already have an account? 
	<%= link_to "Log in", log_in_path %>
</p>
