<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="style.css">
		<meta charset="utf-8">
		<title>Betastore</title>
	</head>
	<body>
		<h1>Betastore</h1>

		<% if logged_in? %>
			<%= link_to "Log Out", log_out_path, method: 'post' %>
		<% else %>
			<%= link_to "Log In", log_in_path %>
		<% end %>
		<table class="cell">

		<%= link_to cart_items_path, class: 'cart' do %>
			Cart (<span id="cart_item_count"><%= cart_item_count %></span>)
		<% end %>

		<div id="cart" style="display: none"></div>

		<% @linecount = 0 %>
		<% @products.each do |product| %>
			<% @name = product.name %>
			<% @price = product.price %>
			<% @create_time = time_ago_in_words product.created_at %>

			<% if @linecount == 0 then %>
				<tr>
			<% end %>
			<td>
				<h1>	
					<a href="<%= product_path(product) %>">
						<img src="http://pjb3.github.io/betastore/products/<%= @name %>.jpg"><%= @name + " cost " + (number_to_currency @price) + " created " + @create_time + " ago" %>
					</a>
					<%= button_to "Add To Cart", add_to_cart_path(product), class: 'btn btn-primary add_to_cart' %>
				</h1>
			</td>
			<% if @linecount == 2 then %>
				<% @linecount = 0 %>
				</tr>
			<% else %>
				<% @linecount += 1 %>
			<% end %>	
		<% end %>

		</table>
		
	</body>
</html>

